Repository Ernxst/svelte-query-params, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, test

.github/labeler.yml:

# See https://github.com/actions/labeler

ðŸš¨ action:
  - .github/workflows/**

test:
  - packages/**/*.test.ts
  - packages/**/*.spec.ts

chore: configure default formatter
  .vscode/settings.json
Labels: none

chore: update gitignore
  .gitignore
Labels: none

fix: fix valibot types
  packages/core/src/lib/types.ts
Labels: none

feat: add type tests
  package.json
  packages/core/package.json
  packages/core/src/lib/__test__/params.test-d.ts
  packages/core/vite.config.ts
  turbo.json
Labels: none

chore: update workflow to use bun
  .github/workflows/release.yml
Labels: ðŸš¨ action

chore: remove files from paths-ignore
  .github/workflows/release.yml
Labels: ðŸš¨ action

chore: update lockfile
  yarn.lock
Labels: none

chore: use bun everywhere
  .github/workflows/release.yml
Labels: ðŸš¨ action

feat: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore: update templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/release.yml
Labels: ðŸš¨ action

chore: improve repo quality
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .nvmrc
  .vscode/settings.json
  bun.lockb
  package.json
  packages/core/package.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
  turbo.json
Labels: ðŸš¨ action

chore: add issue opened template
  .github/ISSUE_TEMPLATE/issue-opened.yml
  .vscode/settings.json
Labels: none

chore: rename repo and package
  .changeset/config.json
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/issue-opened.yml
  CONTRIBUTING.md
  README.md
  bun.lockb
  examples/svelte/package.json
  examples/svelte/src/lib/params.ts
  examples/sveltekit/package.json
  examples/sveltekit/src/lib/params.ts
  package.json
  packages/core/README.md
  packages/core/package.json
  packages/core/src/routes/+page.svelte
  yarn.lock
Labels: none

fix(ci): update install command
  .github/workflows/ci.yml
  CONTRIBUTING.md
Labels: ðŸš¨ action

fix(ci): remove bun caching
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: ðŸš¨ action

fix: hide ts error in config
  packages/core/vite.config.ts
Labels: none

chore: add test to ensure hash is retained
  packages/core/src/lib/__test__/svelte.test.ts
Labels: test

chore(ci): remove windows from matrix until bun supports it
  .github/workflows/ci.yml
Labels: ðŸš¨ action

fix(sveltekit): make server-side navigation a no-op as goto is not allowed on the server
  packages/core/src/lib/adapters/sveltekit.ts
Labels: none

chore: add deps to external modules
  packages/core/tsup.config.ts
Labels: none

chore(example): update sveltekit example
  examples/sveltekit/src/lib/Counter.svelte
Labels: none

chore: fix link of contributing readme
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

chore: fix examples in readme
  README.md
  packages/core/README.md
Labels: none

chore: update README
  README.md
  packages/core/README.md
Labels: none

chore: remove pnpm lockfile
  pnpm-lock.yaml
Labels: none

chore: code quality improvements
  packages/core/src/lib/create-params.svelte.ts
  packages/core/src/lib/utils.ts
Labels: none

chore: add coverage
  bun.lockb
  package.json
Labels: none

chore: improve example
  examples/svelte/src/lib/Counter.svelte
  examples/sveltekit/src/lib/Counter.svelte
Labels: none

chore: change publish config
  packages/core/package.json
Labels: none

fix: allow more zod types
  packages/core/src/lib/types.ts
Labels: none

chore: disable source map generation
  packages/core/tsup.config.ts
Labels: none

chore: use `Object.fromEntries` instead of custom utility function
  packages/core/src/lib/create-params.svelte.ts
  packages/core/src/lib/utils.ts
Labels: none

chore: reduce bundle size
  packages/core/src/lib/adapters/dom.ts
Labels: none

chore: export more types from package
  packages/core/src/lib/index.ts
  packages/core/src/lib/types.ts
Labels: none

chore: add test to assert existing query params are unaffected
  packages/core/src/lib/__test__/svelte.test.ts
  packages/core/src/lib/types.ts
Labels: test

chore: collect coverage correctly
  packages/core/vite.config.ts
Labels: none

chore: use inline serialiser function
  packages/core/src/lib/create-params.svelte.ts
  packages/core/src/lib/utils.ts
Labels: none

chore: add changeset
  .changeset/fluffy-laws-double.md
Labels: none

chore: fix failing test type
  packages/core/src/lib/__test__/svelte.test.ts
Labels: test

feat: (breaking) improve API so query params can never overlap with helper functions
  README.md
  bun.lockb
  examples/svelte/package.json
  examples/svelte/src/lib/Counter.svelte
  packages/core/README.md
  packages/core/package.json
  packages/core/src/lib/__test__/fixtures/Button.svelte
  packages/core/src/lib/__test__/fixtures/FullUpdate.svelte
  packages/core/src/lib/__test__/fixtures/Input.svelte
  packages/core/src/lib/__test__/fixtures/PartialUpdate.svelte
  packages/core/src/lib/__test__/params.test-d.ts
  packages/core/src/lib/__test__/svelte.test.ts
  packages/core/src/lib/create-params.svelte.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/types.ts
  packages/core/src/lib/utils.ts
Labels: test
