Repository Ernxst/svelte-query-params, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, test

.github/labeler.yml:

# See https://github.com/actions/labeler

ðŸš¨ action:
  - .github/workflows/**

test:
  - packages/**/*.test.ts
  - packages/**/*.spec.ts

chore: simplify valibot types
  packages/core/src/lib/types.ts
Labels: none

fix: export sveltekit adapter options
  packages/core/src/lib/adapters/sveltekit.ts
Labels: none

feat: update query params on the server
  examples/sveltekit/src/routes/+layout.server.ts
  packages/core/src/lib/adapters/sveltekit.ts
  packages/core/src/lib/create-params.svelte.ts
  packages/core/src/lib/utils.ts
Labels: none

chore: remove triple slash reference
  packages/core/src/lib/types.ts
Labels: none

chore: rename dom adapter to browser
  README.md
  examples/sveltekit/tsup.config.ts
  packages/core/README.md
  packages/core/package.json
  packages/core/src/lib/adapters/browser.ts
  packages/core/src/lib/create-params.svelte.ts
  packages/core/tsup.config.ts
Labels: none

chore: remove triple slash reference
  packages/core/src/lib/adapters/browser.ts
Labels: none

docs: update readme to use new adapter name
  README.md
  packages/core/README.md
Labels: none

feat: remove `hash` argument from server handling
  README.md
  packages/core/README.md
  packages/core/src/lib/adapters/index.ts
  packages/core/src/lib/adapters/sveltekit.ts
  packages/core/src/lib/adapters/types.ts
  packages/core/src/lib/create-params.svelte.ts
Labels: none

fix(example): pass current location to hook
  examples/svelte/src/lib/Counter.svelte
Labels: none

docs: fix table in readme
  README.md
  packages/core/README.md
Labels: none

fix: add listeners to window if hook registered on the server first
  packages/core/src/lib/create-params.svelte.ts
Labels: none

chore: use children instead of slot
  examples/sveltekit/src/routes/+layout.svelte
Labels: none

feat(example): more examples
  examples/sveltekit/src/lib/hooks/multi-select.ts
  examples/sveltekit/src/lib/hooks/pagination.ts
  examples/sveltekit/src/lib/hooks/search.ts
  examples/sveltekit/src/routes/multiselect/+page.svelte
  examples/sveltekit/src/routes/pagination/+page.svelte
  examples/sveltekit/src/routes/search/+page.svelte
Labels: none

chore: remove property
  packages/core/src/lib/create-params.svelte.ts
Labels: none

fix: fix reactivity in helpers
  packages/core/src/lib/create-params.svelte.ts
Labels: none

fix(example): fix pagination schemas
  examples/sveltekit/src/lib/hooks/pagination.ts
Labels: none

fix(example): fix pagination logic
  examples/sveltekit/src/routes/pagination/+page.svelte
Labels: none

fix: ensure search string contains all query params
  packages/core/src/lib/create-params.svelte.ts
Labels: none

feat: allow using `set` on the server without infinite redirects
  packages/core/src/lib/create-params.svelte.ts
  packages/core/src/lib/utils.ts
Labels: none

fix: ensure all search params are persisted to browser/server
  packages/core/src/lib/create-params.svelte.ts
Labels: none

fix: prevent passing through values not defined in validators
  packages/core/src/lib/utils.ts
Labels: none

chore: add changeset
  .changeset/great-eggs-shout.md
Labels: none

fix: fix valibot check and improve zod check
  packages/core/src/lib/utils.ts
Labels: none

chore: update changeset
  .changeset/great-eggs-shout.md
Labels: none

chore: remove todo
  packages/core/src/lib/create-params.svelte.ts
Labels: none

fix(example): fix multi-select schema
  examples/sveltekit/src/lib/hooks/multi-select.ts
Labels: none

chore: remove unused types
  packages/core/src/lib/index.ts
  packages/core/src/lib/types.ts
Labels: none

docs: update adapter function documentation
  packages/core/src/lib/adapters/types.ts
Labels: none

chore: loosen `URLLike` type to just the `search` string and `hash`
  packages/core/src/lib/types.ts
Labels: none

chore: update error message
  packages/core/src/lib/utils.ts
Labels: none

test: add utils tests
  packages/core/src/lib/__test__/utils.test.ts
Labels: test

test: more utils tests
  packages/core/src/lib/__test__/utils.test.ts
Labels: test

test: add e2e tests with playwright
  .github/workflows/ci.yml
  .gitignore
  bun.lockb
  package.json
  packages/core/package.json
  packages/core/playwright.config.ts
  packages/core/src/routes/(test)/multiselect/+page.svelte
  packages/core/src/routes/(test)/multiselect/_hooks/multi-select.ts
  packages/core/src/routes/(test)/pagination/+page.svelte
  packages/core/src/routes/(test)/pagination/_hooks/pagination.ts
  packages/core/src/routes/(test)/search/+page.svelte
  packages/core/src/routes/(test)/search/_hooks/search.ts
  packages/core/src/routes/(test)/ssr/+layout.server.ts
  packages/core/src/routes/(test)/ssr/+page.svelte
  packages/core/src/routes/(test)/ssr/params.ts
  packages/core/src/routes/(test)/tabs/+page.svelte
  packages/core/src/routes/(test)/tabs/_hooks/tabs.ts
  packages/core/svelte.config.js
  packages/core/tests/e2e/specs/e2e.test.ts
  packages/core/vite.config.ts
  turbo.json
Labels: ðŸš¨ action, test

chore: ignore source type errors when testing types
  packages/core/vite.config.ts
Labels: none

feat: preliminary support for multi-value params
  packages/core/playwright.config.ts
  packages/core/src/lib/__test__/params.test-d.ts
  packages/core/src/lib/__test__/search-params.test.ts
  packages/core/src/lib/adapters/types.ts
  packages/core/src/lib/create-params.svelte.ts
  packages/core/src/lib/goto.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/search-params.ts
  packages/core/src/lib/types.ts
  packages/core/src/lib/utils.ts
Labels: test

chore(docs): remove references to svelte runes as we don't use any
  README.md
  packages/core/README.md
  packages/core/package.json
  packages/core/src/lib/types.ts
Labels: none

test: fix failing unit tests
  packages/core/src/lib/__test__/svelte.test.ts
  packages/core/src/lib/create-params.svelte.ts
Labels: test

docs: update function documentation
  packages/core/src/lib/types.ts
Labels: none

test: update array param test fixture page
  packages/core/src/routes/(test)/multiselect/+page.svelte
Labels: none

chore: add npm keywords
  packages/core/package.json
Labels: none
