Repository Ernxst/svelte-query-params, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, test

chore: update biome config
  biome.json
Labels: none

chore: remove unused suppressions
  packages/core/src/lib/types.ts
  packages/core/src/lib/utils.ts
  packages/core/vite.config.ts
Labels: none

chore: update scripts
  package.json
Labels: none

feat: add support for validation `z.object` and valibot `object`
  README.md
  examples/svelte/src/lib/Counter.svelte
  packages/core/README.md
  packages/core/src/lib/index.ts
  packages/core/src/lib/types.ts
  packages/core/src/lib/utils.ts
Labels: none

chore: update sveltekit example
  examples/sveltekit/src/lib/Counter.svelte
Labels: none

chore: remove yarn lock file from git
  .gitignore
  biome.json
  yarn.lock
Labels: none

chore: code quality improvements
  packages/core/src/lib/create-params.svelte.ts
  packages/core/src/lib/utils.ts
Labels: none

fix: fix issue with function validator types
  packages/core/src/lib/types.ts
Labels: none

chore: add changeset
  .changeset/polite-turtles-help.md
Labels: none

fix: fix types
  packages/core/src/lib/utils.ts
Labels: none

chore: fix README
  README.md
  packages/core/README.md
Labels: none

chore: add svelte condition
  packages/core/package.json
Labels: none

chore: return hook as named function
  packages/core/src/lib/create-params.svelte.ts
Labels: none

chore: update README
  README.md
  packages/core/README.md
Labels: none

chore(deps): upgrade dependencies
  biome.json
  bun.lockb
  examples/svelte/package.json
  examples/svelte/src/lib/Counter.svelte
  examples/sveltekit/package.json
  examples/sveltekit/src/lib/Counter.svelte
  examples/sveltekit/svelte.config.js
  examples/sveltekit/tsconfig.json
  package.json
  packages/core/package.json
  packages/core/src/lib/__test__/fixtures/Button.svelte
  packages/core/src/lib/__test__/fixtures/FullUpdate.svelte
  packages/core/src/lib/__test__/fixtures/Input.svelte
  packages/core/src/lib/__test__/fixtures/PartialUpdate.svelte
  packages/core/src/lib/__test__/svelte.test.ts
  packages/core/src/lib/types.ts
  packages/core/svelte.config.js
  packages/core/test/setup.ts
  packages/core/tests/vitest.setup.ts
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  patches/@testing-library+svelte+4.0.5.patch
  turbo.json
Labels: test

chore(example): lint code
  examples/svelte/src/App.svelte
  examples/sveltekit/src/app.d.ts
  examples/sveltekit/src/routes/+layout.svelte
  examples/sveltekit/src/routes/+page.svelte
  packages/core/src/app.d.ts
Labels: none

chore: migrate from nano-staged and husky to lefthook
  .husky/.gitignore
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .husky/commit-msg
  .husky/prepare-commit-msg
  bun.lockb
  lefthook.yml
  package.json
Labels: none

chore: update changeset config
  .changeset/config.json
Labels: none

chore: update commit convention
  .github/commit-convention.md
Labels: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

chore: update workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  package.json
Labels: ðŸš¨ action

style: format code
  packages/core/src/lib/utils.ts
Labels: none

chore: export type
  packages/core/src/lib/index.ts
  packages/core/src/lib/types.ts
Labels: none

fix: fix type errors
  packages/core/src/lib/types.ts
Labels: none

fix(ci): add missing typecheck task
  package.json
  packages/core/package.json
  turbo.json
Labels: none

chore: update lockfile
  bun.lockb
Labels: none

test: fix failing tests
  packages/core/tests/vitest.setup.ts
Labels: none

chore: update contributing guide and license
  CONTRIBUTING.md
  LICENSE
Labels: none

test: fix type test command
  packages/core/package.json
Labels: none

test: add test watch task
  package.json
  turbo.json
Labels: none

fix(ci): use correct node version in tests
  .github/workflows/ci.yml
Labels: ðŸš¨ action

chore: remove triple slash directive
  packages/core/src/lib/create-params.svelte.ts
Labels: none

chore: add changeset
  .changeset/two-apples-act.md
Labels: none

chore: format code
  packages/core/package.json
Labels: none

chore(example): use `goto` from sveltekit
  examples/sveltekit/src/lib/Counter.svelte
Labels: none

chore(example): enable ssr
  examples/sveltekit/src/routes/+layout.server.ts
Labels: none

fix: improve server-side usage
  .changeset/gorgeous-gifts-type.md
  README.md
  examples/sveltekit/src/lib/Counter.svelte
  packages/core/src/lib/__test__/fixtures/Button.svelte
  packages/core/src/lib/__test__/fixtures/FullUpdate.svelte
  packages/core/src/lib/__test__/fixtures/Input.svelte
  packages/core/src/lib/__test__/fixtures/PartialUpdate.svelte
  packages/core/src/lib/__test__/svelte.test.ts
  packages/core/src/lib/adapters/dom.ts
  packages/core/src/lib/adapters/index.ts
  packages/core/src/lib/adapters/sveltekit.ts
  packages/core/src/lib/adapters/types.ts
  packages/core/src/lib/create-params.svelte.ts
  packages/core/src/lib/index.ts
  packages/core/src/lib/types.ts
  packages/core/src/lib/utils.ts
Labels: test

fix(ci): format code before linting (fixes lint job on changeset pull requests)
  .github/workflows/ci.yml
Labels: ðŸš¨ action

test: add missing param to hook
  packages/core/src/lib/__test__/params.test-d.ts
Labels: none

style: format code
  packages/core/package.json
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

ðŸš¨ action:
  - .github/workflows/**

test:
  - packages/**/*.test.ts
  - packages/**/*.spec.ts
